{% extends 'base.html' %}

{% block title %}
Add Post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="mb-8 text-2xl sm:text-3xl sm:truncate">Add New Post</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <div class="block my-8">
        <label for="id-title" class="block">Title:</label>
        <input type="text" name="title" id="id-title"
            class="w-80 border-b-2 border-slate-400 py-0.5 px-2 focus:outline-none focus:border-sky-500" />
    </div>
    <div class="block my-10">
        <label for="id-title-tag" class="block">Title Tag <span class="text-slate-500">(optional)</span>:</label>
        <input type="text" name="title_tag" id="id-title-tag"
            class="w-80 border-b-2 border-slate-400 py-0.5 px-2 focus:outline-none focus:border-sky-500" />
    </div>
    <div class="block my-10">
        <label for="id-author" class="block">Author:</label>
        <select name="author" id="id-author"
            class="w-80 py-0.5 px-2 bg-white border-b-2 border-slate-400 focus:outline-none">
            <option value="" selected>-------</option>
            <option value="1">admin</option>
        </select>
    </div>
    <div class="block my-10">
        <label for="id-body" class="block">Body:</label>
        <textarea name="body" id="id-body"
            class="w-80 border-b-2 border-slate-400 py-0.5 px-2 focus:outline-none focus:border-sky-500"></textarea>
    </div> -->

    <button class="text-white bg-teal-600 py-1 px-6 my-2 border-none rounded-md">Post</button>
</form>

{% else %}

<h1 class="mb-8 text-red-500 text-2xl sm:text-3xl sm:truncate">Not allowed, must login or register!</h1>

{% endif %}

<a href="{% url 'home' %}" class="text-sky-500 hover:text-sky-500">Back</a>

{% endblock %}