{% extends 'base.html' %}

{% block title %}
{{ post.title_tag }}
{% endblock %}

{% block content %}

<h1 class="text-2xl sm:text-3xl sm:truncate">{{ post.title }}</h1>
<small class="text-sm text-slate-500 block my-2">By: {{ post.author.first_name }}
    {{ post.author.last_name}}
    {% if user.is_authenticated %} -
    <a href="{% url 'update_post' post.pk %}" class="text-sky-500 hover:text-sky-600">Edit</a> |
    <a href="{% url 'delete_post' post.pk %}" class="text-sky-500 hover:text-sky-600">Delete</a>
    {% endif %}
</small>
<hr />
<br />
{{ post.body }}
<br /> <br />
<a href="{% url 'home' %}" class="text-sky-500 hover:text-sky-600">Back</a>

{% endblock %}