<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind css -->
    <!-- <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>

    <nav class="bg-sky-600">
        <div class="container mx-auto py-2 flex justify-between">
            <a href="{% url 'home' %}" class="text-xl sm:text-2xl text-white inline-block">My Blog</a>
            <div class="inline-block">
                {% if user.is_authenticated %}
                <a href="{% url 'add_post' %}"
                    class="text-sm sm:text-base text-white inline-block py-1 px-4 hover:text-sky-600 hover:bg-white">Add
                    Post</a>
                <a href="{% url 'logout' %}"
                    class="text-sm sm:text-base text-white inline-block py-1 px-4 hover:text-sky-600 hover:bg-white">Logout</a>
                {% else %}
                <a href="{% url 'register' %}"
                    class="text-sm sm:text-base text-white inline-block py-1 px-4 hover:text-sky-600 hover:bg-white">Register</a>
                <a href="{% url 'login' %}"
                    class="text-sm sm:text-base text-white inline-block py-1 px-4 hover:text-sky-600 hover:bg-white">Login</a>
                {% endif %}

            </div>
        </div>
    </nav>

    <div class="container mx-auto my-8">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>