{% extends 'base.html' %}

{% block title %}
Delete Post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="mb-8 text-2xl sm:text-3xl sm:truncate">
    Delete This Post:
</h1>
<h2 class="my-8 text-xl sm:text-2xl sm:truncate">--> {{ post.title }}</h2>


<form method="POST">
    {% csrf_token %}
    <h2 class="my-8 text-xl sm:text-2xl sm:truncate">Are you sure?</h2>

    <button class="text-white bg-red-800 py-1 px-6 my-2 border-none rounded-md">Delete</button>
</form>

{% else %}

<h1 class="mb-8 text-red-500 text-2xl sm:text-3xl sm:truncate">Not allowed, must login or register!</h1>

{% endif %}

<a href="{% url 'home' %}" class="text-sky-500 hover:text-sky-500">Back</a>

{% endblock %}