{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h1 class="text-2xl sm:text-3xl sm:truncate mt-4">Posts</h1>

<ul class="list-disc mx-16">
    {% for post in object_list %}
    <li class="my-4">
        <a class="text-sky-500 hover:text-sky-600" href="{% url 'article-details' post.pk %}">
            {{ post.title}}
        </a> -
        {{ post.author.first_name }} {{post.author.last_name}}
        {% if user.is_authenticated %} -
        <a href="{% url 'update_post' post.pk %}" class="text-sky-500 hover:text-sky-600">Edit</a> |
        <a href="{% url 'delete_post' post.pk %}" class="text-sky-500 hover:text-sky-600">Delete</a>
        {% endif %}
        <div class="block">{{ post.body }}</div>
    </li>
    {% endfor %}
</ul>

{% endblock %}