{% extends 'base.html' %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="mb-8 text-2xl sm:text-3xl sm:truncate">Edit This Post</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="text-white bg-teal-600 py-1 px-6 my-2 border-none rounded-md">Edit</button>
</form>

{% else %}

<h1 class="mb-8 text-red-500 text-2xl sm:text-3xl sm:truncate">Not allowed, must login or register!</h1>

{% endif %}

<a href="{% url 'home' %}" class="text-sky-500 hover:text-sky-500">Back</a>

{% endblock %}