{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}

<h1 class="mb-8 text-2xl sm:text-3xl sm:truncate">Register New User</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="text-white bg-teal-600 py-1 px-6 my-2 border-none rounded-md">Register</button>
</form>

{% endblock %}